{% extends "non_home.html" %}
{% block page_content %}
<h1>Add Expense</h1>

<div class="form-container">
    <h4>Enter your expense information below:</h4>
    <form method="POST" action="/expenses/add_expense">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.type.label(class="form-control-label") }}
            {{ form.type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cost.label(class="form-control-label") }}
            {{ form.cost(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-outline-info">Submit</button>
    </form>

</div>

{% if form.cost.errors %}
<div class="alert alert-danger">
    <p>Invalid Data</p>
</div>
{% endif %}

{% endblock %}