{% extends "non_home.html" %}
{% block page_content %}

<!-- very similar to the adding pages, however it keeps the information from the specific id -->
<h1>Edit Expense</h1>
<div class="form-container">
    <h5>Update your expense information below:</h5>
    <form method="POST" action="{{ expense.id }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.type.label(class="form-control-label") }}
            {{ form.type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cost.label(class="form-control-label") }}
            {{ form.cost(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-outline-info">Save Changes</button>
    </form>
</div>

{% if form.cost.errors %}
<div class="alert alert-danger">
    <p>Invalid Data</p>
</div>
{% endif %}

{% endblock %}
