{% extends "base.html" %}
{% block content %} 

<div class="centered-container">
    <h1>Home</h1>
    {% if progress >= 100 %}
        <h3>Congratulations! You have achieved your goal.</h3>
    {% else %}
        <h3>You are {{ progress }}% away from your goal!</h3>
    {% endif %}
</div>

<!-- display information for expenses -->
<div class="homeBoxContainer">
    <div class="homeBox">
        <h6><i class="fas fa-shopping-cart fa-lg" style="vertical-align: middle;"></i> Current Expenses <i class="fas fa-shopping-cart fa-lg" style="vertical-align: middle;"></i></h6>
        <p>You have spent <strong>£{{ total_expenses }}</strong></p>
        <p>Your latest expenditure was: <strong>{{ latest_expense.type }}</strong>, which was <strong>£{{ latest_expense.cost }}</strong></p>
    </div>

    <!-- display goal information -->
    {% if goal_id != 0 %}
        <div class="homeBox circle-box">
            <h5>Your Goal</h5>
            <p>Your goal is to save <strong>£{{ goalAmount }}</strong> for: <strong>{{ goalName }}</strong></p>
            <p>You have saved <strong>£{{ total_incomes - total_expenses }}</strong></p>
            <p>You need to save <strong>£{{ goalAmount - total_incomes + total_expenses }}</strong></p>
        </div>
    <!-- this is only ran if there is no goal -->
    {% else %}
        <div class="homeBox circle-box">
            <h3>You need a goal!</h3>
        </div>
    {% endif %}

    <!-- display information for incomes -->
    <div class="homeBox">
        <h6><i class="fas fa-money-bill" style="vertical-align: middle;"></i> Current Incomes <i class="fas fa-money-bill" style="vertical-align: middle;"></i></h6>
        <p>You have earned <strong>£{{ total_incomes }}</strong></p>
        <p>Your latest income was: <strong>{{ latest_income.type }}</strong>, which was <strong>£{{ latest_income.cost }}</strong></p>
    </div>
</div>

<!-- display the progress bar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="progress" style="height: 50px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                    style="width: {{progress}}%"
                    role="progressbar" 
                    aria-valuemin="0" 
                    aria-valuemax="100">{{ progress }}%
                </div>
            </div>  
        </div>
    </div>
</div>

{% if goal_id != 0 %}
<div class="centered-container">
    <a href="{{ url_for('remove_goal', goal_id=goal_id) }}" class="btn btn-danger-home">Delete</a>
</div>
{% endif %}

{% endblock %}
