{% extends "base.html" %}
{% block content %}
<h1>Incomes</h1>

<table>
    <tr>
        <th>Type</th>
        <th>Cost</th>
        <th>Date</th>
    </tr>
    {% for income in incomes %}
    <tr>
        <td>{{ income.type }}</td>
        <td>{{ income.cost }}</td>
        <td>{{ income.date }}</td>
    </tr>
    {% endfor %}
</table>

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
      <a href="{{ button_url }}" class="btn btn-primary mt-2">Add Income</a>
  </div>
</div>

{% endblock %}